# PostgreSQL Database Configurations
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=inventory_db

# Backend API Configuration
DATABASE_URL=postgresql://postgres:postgres@db:5432/inventory_db

# Frontend Configurations
VITE_API_URL=http://localhost:8000
